.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1

qmsegmenter/segmenter-test

src/clever-thumbnailer
src/loudness-test
src/config.h
src/config.h.in
